{% extends "layout.html" %}
{% block body %}

<center>
    <div style="width:640px;height:480px;">
        <iframe frameborder=0 width=640 height=480 marginheight=0 marginwidth=0 scrolling=no src="http://192.168.1.123:8080/?action=stream"/>
        <div  align="left" style="width:400px;height:300px;margin:10px auto;">

	        <table  align="left" >
	        <tr>
			        <td align="left" valign="top"></td>
			        <th id="Th1" class="button_ctl" style="background-image:url('/static/img/up.png');"></th>
		        </tr>
		        <tr>
			        <th id="Th2" class="button_ctl" style="background-image:url('/static/img/left.png');"></th>
			        <th id="Th3" class="button_ctl" style="background-image:url('/static/img/stop.png');"></th>
			        <th id="Th4" class="button_ctl" style="background-image:url('/static/img/right.png');"></th>
		        </tr>
		        <tr>
			        <th></th>
			        <th id="Th5" class="button_ctl" style="background-image:url('/static/img/down.png');"></th>
		        </tr>
	        </table>

        </div>	
        </iframe>
    </div>
</center>
<div  align="left" style="width:400px;height:300px;margin:10px auto;">

	<table  align="left" >
	<tr>
			<td align="left" valign="top"></td>
			<th id="t_up" class="button_ctl" style="background-image:url('/static/img/up.png');"></th>
		</tr>
		<tr>
			<th id="t_left" class="button_ctl" style="background-image:url('/static/img/left.png');"></th>
			<th id="t_stop" class="button_ctl" style="background-image:url('/static/img/stop.png');"></th>
			<th id="t_right" class="button_ctl" style="background-image:url('/static/img/right.png');"></th>
		</tr>
		<tr>
			<th></th>
			<th id="t_down" class="button_ctl" style="background-image:url('/static/img/down.png');"></th>
		</tr>
	</table>

</div>	
{% endblock %}
