@model List<ZdflCount.Models.DeviceStatus>

@{
    ViewBag.Title = "设备状态";
}

<h2>当前设备运行状态</h2>

@Html.ActionLink("清空重载", "MachineStatus", "", new {refresh=true })

@foreach (ZdflCount.Models.DeviceStatus item in Model)
{
    <div>
        <span>工厂：</span>@item.FactoryName;
        <span>车间：</span>@item.RoomName;（@item.MachineList.Count/@item.MachineCount）
        <div class="">
       @foreach (System.Collections.Generic.KeyValuePair<string, DateTime> device in item.MachineList)
       {
           <div class="block-green-status">
               @device.Key
           </div>
       }
        </div>
    </div>
}