@model ZdflCount.Models.Schedules

@{
    ViewBag.Title = "关闭施工单";
}

<h2>@ViewBag.Title</h2>

<h3 class="normal-margin">确定要关闭当前施工单吗?</h3>
<fieldset>
    <legend>施工单详细信息</legend>
    
    @Html.Partial("_DetailPartial")

</fieldset>
@using (Html.BeginForm()) {
    <div class="left-outof-table">
        @Html.ActionLink("返回施工单列表", "Index",  new {id = Model.OrderId})
    </div>
    <input type="submit" value="执行关闭" class="right-outof-warning-button"/>
}
