@{
    ViewBag.Title = "联系方式";
}

<hgroup class="title">
    <h1>@ViewBag.Title - </h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>问题反馈（信息科）</h3>
    </header>
    <p>
        <span class="label">电话：</span>
        <span>0374 - 8078018</span>
    </p>
    <p>
        <span class="label">传真：</span>
        <span>0374 - 8074666</span>
    </p>
    <p>
        <span class="label">邮箱：</span>
        <span><a href="mailto:sk@xczhende.com">sk@xczhende.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>技术支持（索工）</h3>
    </header>
    <p>
        <span class="label">手机：</span>
        <span>15013056349（微信同号）</span>
    </p>
    <p>
        <span class="label">QQ ：</span>
        <span>619576444</span>
    </p>
    <p>
        <span class="label">邮箱：</span>
        <span><a href="mailto:suoxudong@vejoe.com">suoxudong@vejoe.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>地址</h3>
    </header>
    <p>
        河南省鄢陵县金汇区民营工业园<br />
        邮编 ： 461200
    </p>
</section>