@{
    ViewBag.Title = "主页";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title - </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                左侧为订单信息，右侧为生产情况。
            </p>
        </div>
    </section>
}
<h3>下面是系统基本功能:</h3>
<ol class="round">
    <li class="one">
        <h5>订单信息</h5>
         获取订单
    </li>

    <li class="two">
        <h5>施工单信息</h5>
        施工单创建<br />
        施工单调整<br />
        施工单下派<br />

    </li>
    
    <li class="three">
        <h5>数据录入</h5>
        员工信息<br />
        机台信息
    </li>
    
    <li class="four">
        <h5>数据统计</h5>
        生产情况分析
    </li>
</ol>
