// 日期
@mixin date($w:0) {
    @include init_block;
    .el-input{
        width: $w;
        .el-input__inner{
            color: #666;
            height: 30px;
            line-height: 30px;
        }
    }
}
.date-w125{
    @include date($w:125px);
}
.date-w130{
    @include date($w:130px);
}
