// 单选，多选
// 选择小圈圈 // 自定义
.el-radio__input.is-checked .el-radio__inner{
    border-color: #fff;
    background: #fff;
    border-color: $oa;
}
.el-radio__inner::after{
    width: 12px;
    height: 12px;
    background-color: $oa;
}
.el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: #bfcbd9;
}
// 选择（单选）
.radio-20{
    .el-radio-group{
        width: 100%;
        .el-radio{
            .el-radio__input{
                .el-radio__inner{
                    width: 20px;
                    height: 20px;
                }
            }
            .el-radio__label{
                margin-left: 10px;
                padding-left: 0;
                color: $c3;
            }
        }
    }
}

// 表格里的多选
.el-checkbox-group{
    .el-checkbox__label{
        font-size: 0;
    }
    .el-checkbox__inner{
        border-radius: 50%;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner{
        background-color: $oa;
        border-color: $oa;
    }
}