* {box-sizing: border-box; font-family: "微软雅黑"}
html{font-family: "微软雅黑";font-size:14px;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
li{list-style: none}
a{text-decoration: none;color:inherit}
// 滚动条
::-webkit-scrollbar {
    overflow: visible;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding: 100px 0 0;
    border: solid transparent;
    border-width: 1px;
    background-color: #0abfab;
    background-clip: padding-box;
    border-radius: 20px;
}
.border-color-m{ // 主色边框
    border: 1px solid $oa!important;
}
.main-color{ // 主色字体
    color: $oa!important;
}
.main-3{
    color: #333!important;
}
.main-6{
    color: #666!important;
}
.main-9{
    color: #999!important;
}
.border-no{ // 没有边框
    border: none!important;
}
.table-pitch-on{ // 移入表格的样式
    background-color: $e6!important;
}
.table-mousemove-style{ // 移入表格的样式（修改）
    background-color: $e6!important;
}
.border-r-no{
    border-right: 0!important;
}
.red{
    background-color: red!important;
}
.m0{
    margin: 0!important;
}
.mr0{
    margin-right: 0!important;
}
.mr5{
    margin-right: 5px;
}
.mr140px{
    margin-right: 140px!important;
}
.m20{
    margin: 20px;
}
.mr70{
    margin-right: 70px!important;
}
.ml10{
    margin-left: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt22{
    margin-top: 22px;
}
.mt30{
    margin-top: 30px!important;
}
.m-lr-10{
    margin: 0 10px!important;
}
.p-lr-30{
    padding: 0 30px;
}
.font14{
    font-size: 14px;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.bg-ff{
    background-color: #fff!important;
}
.bg-normal{
    background-color: transparent!important;
}
.forbid-bg{ // 禁止操作的背景
    background-color: #ccc!important;
}
.wh-100{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.w100-h40{
    // display: inline-block;
    width: 100px;
    height: 80px;
}
.p-lf30{
    padding-left: 30px;
    padding-right: 30px;
}
.p-tb30{
    padding-top: 30px;
    padding-bottom: 30px;
}